.personalblock{
    margin: 10px 20px 10px 10px;
}
#casSettings fieldset{

    border-bottom: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    margin-bottom: 10px;
}

#casSettings input[type="text"] {
    margin-left: 15px;
    width: 30em;
}

.SPE {
    margin-left: 15px;
    width:30em;
}
